@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: #f1ba56;
  --gradient-bar: linear-gradient(103.22deg, #af5b84 -13.86%, #f1ba56 99.55%);
  
  --color-bg: #181818;
  --color-footer : transparent;
  --color-blog: #042c54;
  --color-text: #ffff;
  --color-subtext: #FF8A71;
}