  #navbar-container {
    border-radius: 0 0 10px 10px;
    background-color: #1e1a31;
  }
  
  #navbar-logo {
    color: #ffff;
    font-weight: 500;
    font-size: 2rem;
  }
  .navLinks{
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    padding: 0.5rem  1rem;
  }
  
  div.dropdown-menu.show {
    border: none;
  }
  
  button.navbar-toggler.collapsed,
  button.navbar-toggler {
    outline: none;
    box-shadow: none;
  }
  
  button.navbar-toggler.collapsed:focus,
  button.navbar-toggler:focus {
    outline: none;
    box-shadow: 0 -3px 1px -1px #af5b84;
  }

  .btn.btn-outline-secondary {
    border-color: #f1ba56;
    color: #f1ba56 !important;
  }

  