/* body {
  font-weight: 400;
  font-family: sans-serif;
  background-color: #181820!important;
} */

h2{
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  color: #000;
}

.label{
  color: rgba(0, 0, 0, 0.781);
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  }

.card {
  background-color: transparent !important;
  color: #000;
}

.link{
  color: red;
  text-decoration: none;
}

.link:hover{
  color: rgba(255, 0, 0, 0.5);
  text-decoration: underline;
}

